body {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 20px;
	background-color: #222;
	color: #FFF;
}

h1 {
	text-align: center;
	padding: 10px;
}

.button {
	background-color: #234;
	border: none;
	color: white;
	padding: 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	border-color: #033;
	border-width: 2px;
}

.button:hover {
	background-color: #444;
}

.button:active {
	background-color: #767;
}

.rounded {
	border-radius: 16px;
}

.container {
	padding: 30px;
	background-color: rgba(0, 0, 0, 0.3);
	border-color: #033;
	border-width: 1px;
}

.centre {
	text-align: center;
}

.right {
	text-align: right;
}

.fillparent {
	height: inherit;
	width: inherit;
}

.credits {
	font-size: xx-small;
	color: #A55;
}

.bar {
	position: sticky;
	position: -webkit-sticky;
	top: 0;
	background-color: rgba(0, 0, 0, 0.5);
	padding: 15px;
	margin: -8px;
}

.footer {
	position: fixed;
	bottom: 0;
	padding: 15px;
}